<%- include("../partials/header.ejs", {user}) %>
<main class="p-4">
  <div class="w-auto">
    <a href="/" class="flex gap-2 items-center justify-start">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
        />
      </svg>
      <span> Volver a lista</span>
    </a>
  </div>
  <section class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-xl font-bold text-slate-600"><%= product.name %></h1>
    <div class="px-2 py-1 rounded border border-slate-200 shadow-md">
      <img src="<%= product.img %>" />
    </div>
    <article class="text-3xl font-bold text-emerald-600">
      $<%= product.price.toFixed(2) %>
    </article>
    <hr class="w-full h-[2px] bg-slate-200" />
    <article>
      <h2 class="font-bold text-slate-600">Descripción:</h2>
      <p><%= product.description %></p>
    </article>
  </section>
</main>
<%- include("../partials/footer.ejs") %>
